 /* lato fonts style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.btn-primary{
    background-color: rgba(229, 84, 115, 1);
    padding: 20px 40px;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
}
.max-width{
    max-width: 1440px;
    margin: 0 auto;
}
.primary-text-color{
    color: rgba(39, 39, 39, 1);
}
.secondary-text-color{
    color: rgba(39, 39, 39, 0.6);
}
.text-1{
    text-align: center;
    border-bottom: 1px solid rgba(39, 39, 39, 0.6);
}

/* header section styles */
header{
    background-color: rgba(229, 84, 115, 0.1);
}
.banner{
    display: flex;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}
.banner-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-weight: 800;
    font-size: 80px;
    color: rgba(39, 39, 39, 1);
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
}
/* features section styles */
.feature-title{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}
.feature-description{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.pink-flower{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image-1{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0 0 ;
}

.image-2{
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0 0 ;
}
.image-3{
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0 0 ;
}

/* Media screen styles for small screen*/
@media screen and (max-width:576px) {
    .banner, .pink-flower{
        flex-direction: column;
    }
    .banner-left img{
        width: 100%;

    }

    
}





